[Unit]
Description=Cloudflare Tunnel for SnapIMS
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env cloudflared tunnel --config %h/.cloudflared/config.yml run
Restart=on-failure

[Install]
WantedBy=default.target
